<section class="basic segment container">

  <form id="add-savings-form" (submit)="signup($event)">
    <header>
        <h3 class="dividing">Register</h3>
        <p class="description">Fill in the form below to create an account.</p>
    </header>
    <div class="field">
        <label for="add-savings-amount">$ave: (required)</label>
        <input id="add-savings-amount" 
          name="addSavings" 
          [(ngModel)]="model.addSavings" 
          placeholder="0"
          type="number" 
          tabindex="1" 
          required>
    </div>
    <footer>
        <button id="signup-submit"
          name="submit"
          [class.disabled]="!(account.email && account.password)"
          type="submit">Signup</button>
    </footer>
  </form>

</section>